$baseFont: "Nunito", sans-serif;
$baseFontSize: 18px;
$baseFontLineHeight: 18px;

// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$black: #39414B;
$white: #FFFFFF;
$link_active: #5FBF77;
$gray: #CFCFE4;



$shadow_card: 0px 10px 13px -4px #23235F30;
